/* Font */
@font-face {
    font-family: 'StrangerThings';
    src: url('StrangerThings-Regular.ttf') format('truetype');
}

/* Body */
body {
    background: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    text-align: center;
    padding: 40px 20px;
}

.happy {
    font-family: 'StrangerThings', serif;
    color: #e50914;
    font-size: 100px;
    letter-spacing: 5px;
    text-transform: uppercase;
   
    transition: 0.5s;
}

/* Video Container */
.video-container {
    display: grid;
    grid-template-columns: repeat(2, 400px); /* 2 columns on laptop */
    justify-content: center;
    gap: 20px;
    padding: 30px 0;
}

/* Each video box */
.video-box {
    width: 300px;
    background: #111;
    padding: 10px;
    border-radius: 12px;
    overflow: hidden;
    transition: 
        transform 0.35s ease,
        filter 0.35s ease;
}

/* Video styling */
.video-box video {
    width: 100%;
    aspect-ratio: 9 / 16;
    object-fit: cover;
    border-radius: 8px;
}

/* Hover effect */
.video-box:hover {
    transform: scale(1.05);
    filter: grayscale(0%) drop-shadow(0 0 5px #ff0022);
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    .video-container {
        grid-template-columns: 1fr;
    }

    .video-box {
        width: 90%;
        margin: 0 auto;
    }

    .happy {
        font-size: 60px;
    }
}
